

.containersMenus {
    
  display: none;
  gap: 18px;
  flex-wrap: wrap;
  max-width: 98%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
 
   
}



.containersMenus.active {
    /* Apenas o container ativo será exibido */
    display: flex;
    background: none;
    margin-top: 100px;
    height:0px;
  }


/* CSS WEBDESGINER */


@media (max-width: 768px){
  .containersMenus {
    
    margin-top: 180px;
   
     
  }
  

}