



.slideshow-container-desktop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/* Cria colunas de no mínimo 300px e distribui o espaço igualmente */
    gap: 20px;
    
}






 





